<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinfo.thuttu">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RechargeActivity"
            android:label="recharge" />
        <activity
            android:name=".ui.StoresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".ui.UserInformationActivity"
            android:label="User Information" />
        <activity
            android:name=".ui.NotificationsActivity"
            android:label="Notifications" />
        <activity
            android:name=".ui.AboutUsActivity"
            android:label="About Us" />
        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:label="Privacy Policy" />
        <activity
            android:name=".ui.ProductDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
           />

        <activity android:name=".RxBusActivity">
        </activity>

        <activity android:name=".utils.RxBusSecondActivity"/>
    </application>

</manifest>